{% extends "list/index.html" %}

{% block content %}
    {% if articulos %}
        {% for articulo in articulos %}
            <div class="col-md-4" ><a href="{{ articulo.doi}}">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ articulo.title}}</div>
                    <div> {{ articulo.autor}}</div>
                    {% load static %}
                    <div class="panel-body"><img class="img-responsive" style="width:100%" src="{%static articulo.image.image.url%}"></div>
                    <div class="panel-footer">{{ articulo.published_date}}</div>
                </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
		<h1> Nao tem artigos para mostrar</h1>
    {% endif %}
{% endblock %}