{% extends "list/index.html" %}

{% block content%}
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Scalable Visualisation of Sentiment and Stance</div>
                    <div> {{titulo}}</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Year</div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="panel panel-primary">
                    <div class="panel-heading">MultiStream</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Year</div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">News Articles Role</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Year</div>
                </div>
            </div>
                <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">News Articles Role2</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Year</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">News Articles Role2</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Year</div>
                </div>
            </div>
{% endblock %}