<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="/appdigilib/media/css/style.css">


    <!--My personalizaded CSS-->
    <!--<link rel="stylesheet" href="{% static 'css/style1.css' %}">-->
    <!-- Librería jQuery requerida por los plugins de JavaScript-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"> </script>
    <script src="/appdigilib/media/js/checks.js"></script>

    <title>Library</title>

</head>
<body>

    <!--Top Menu-->
    <div class="jumbotron">
        <div class="container text-center">
             <h1>Digital Library</h1>
             <p>A Visual Survey of Text Mining Visualization for Requirement Engineering</p>
        </div>
        <!--<a type="" href="{% url 'nova_img' %}">Imagen</a>  data-toggle="modal" data-target="#Modal"-->
        <div width="100%" placeholder="col-xs-1">
            <form method="POST" class="form-inline center" action="/" id="Search"> {%csrf_token %}
                <input type="text" name="search" class="form-control search-group-continer" size="100%" aling placeholder="Text in the title or author's name" align="center">
                <button type="submit" class="btn btn-primary" onclick="{{ buscar }}">Search</button>
            </form>
        </div>
    </div>



<!--Left Menu-->
    <div class="container">
        <div class="col-md-2">
            <div class="row" align="left" position= 'fixed'>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Analytic Tasks</li>
                        {% if tasks %}
                            {% for task in tasks %}

                                <label>
                                    <input class="check_task" type="checkbox" name="{{task.task}}" aria-label="Checkbox for following text input" aria-valuetext="Source" id="{{task.task}}" checked>
                                    {{task.task}}
                                </label>

                            {% endfor %}
                        {% else %}
                            <h1>There is not task to show</h1>
                        {% endif %}
                    <li class="list-group-item">Visualization Categories</li>
                        {% if categories %}
                            {% for category in categories %}
                                <label>
                                   <input class="check_cat" type="checkbox" name="{{category.category}}" aria-label="Checkbox for following text input" aria-valuetext="Source" checked id="{{category.category}}">
                                   {{category.category}}
                                </label>
                            {% endfor%}
                        {% else %}
                            <h1>There is not category to show</h1>
                        {% endif %}

                    </ul>
                </nav>
           </div>
        </div>
        <div class="col-md-9">
            <div class="row" align="left" id="content1">
                {% block content%}

                {% endblock %}
            </div>
        </div>
    </div><br>

    <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of the paper</h4>
      </div>
      <div class="modal-body">
        {{ title }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->


</body>

    <footer class="container-fluid text-center">

        <p align="center">Copyright  E.R. PUC-RIO 2019</p>
    </footer>
</html>
