{% extends "list/index.html" %}

{% block content %}
    {% if articulos %}
        {% for articulo in articulos %}
            <div class="col-md-4" >
                <div class="panel panel-primary" data-target="#Modal">
                    <div class="panel-heading" onclick="ShowModal()">{{ articulo.title}}</div>
                    <div> {{ articulo.autor}}</div>

                    <div class="panel-body"><img class="img-responsive" style="width:100%" src="{{articulo.image.image.url}}"></div>
                    <div class="panel-footer">{{ articulo.published_date}}</div>
                </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
		<h1> There are not article to show</h1>
    {% endif %}
{% endblock %}